# Predifines

In [7]:
# Для функционирования watermark - раскомментируйте строку ниже, либо установите библиотеку в консоли вручную
# !pip install watermark
%load_ext watermark

In [8]:
%watermark -v -m -p numpy,matplotlib,pandas,sklearn,seaborn -g

Python implementation: CPython
Python version       : 3.10.7
IPython version      : 8.5.0

numpy     : 1.23.4
matplotlib: 3.5.3
pandas    : 1.5.1
sklearn   : 0.0
seaborn   : 0.12.1

Compiler    : Clang 13.0.0 (clang-1300.0.29.30)
OS          : Darwin
Release     : 21.6.0
Machine     : x86_64
Processor   : i386
CPU cores   : 8
Architecture: 64bit

Git hash: 6002a4beab48f58014ce5875f03078a8039fd18e

# Modules

In [9]:
# Future Python versions compatibility
from __future__ import division

# Warnings Ignore
import warnings
warnings.filterwarnings("ignore")

# System libraries
import os
import random

# Data manipulation libraries
import pandas as pd
import numpy as np

# Data transformation libraries
from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.impute import SimpleImputer
from sklearn.pipeline import FeatureUnion, Pipeline 

# ML libraries
from sklearn.linear_model import LogisticRegressionCV
from sklearn.model_selection import train_test_split, StratifiedKFold
from sklearn.metrics import f1_score, roc_curve, confusion_matrix

# Visual libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Functions and Classes

In [42]:
def plot_roc_curve(true_y, y_prob):
    """Plots the roc curve based of the probabilities"""

    print(f"F1-score: {f1_score(true_y, y_prob):.3f}")
    plt.figure(figsize=(5, 5))
    fpr, tpr, thresholds = roc_curve(true_y, y_prob)

    plt.title("ROC CURVE")
    plt.xlabel("False Positive Rate")
    plt.ylabel("True Positive Rate")
    plt.grid(True)
    plt.plot(fpr, tpr)

In [43]:
def plot_confusion_matrix(true_y, y_prob):
    """Plots the roc curve based of the probabilities"""

    fpr, tpr, thresholds = roc_curve(true_y, y_prob)
    plt.figure(figsize=(7, 5))
    
    sns.heatmap(
    confusion_matrix(true_y, y_prob, normalize="all"),
    annot=True,
    fmt=".2%",
    cmap="YlGnBu",
)

In [55]:
#Custom Transformer that extracts columns passed as argument to its constructor 
class FeatureSelector(BaseEstimator, TransformerMixin):
    #Class Constructor 
    def __init__(self, feature_names):
        self._feature_names = feature_names
    
    #Return self nothing else to do here    
    def fit(self, X, y=None):
        return self
    
    #Method that describes what we need this transformer to do
    def transform(self, X, y=None):
        return X[self._feature_names]

In [56]:
class DataframeTransformer(BaseEstimator, TransformerMixin):
    #Return self nothing else to do here 
    
    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        _X = X.copy()
        _X.columns = [
                       'age', 'sex', 'chest_pain_type', 'resting_blood_pressure', 'cholesterol', 
                       'fasting_blood_sugar', 'rest_ecg', 'max_heart_rate_achieved',
                       'exercise_induced_angina', 'st_depression', 'st_slope', 'num_major_vessels', 
                       'thalassemia', 'condition',
                      ]
#         _y = _X['condition']
#         _X = _X.drop('condition', axis=1)
#         return _X, _y
        
        return _X

In [57]:
class TargetTransformer(BaseEstimator, TransformerMixin):
    #Return self nothing else to do here
    def fit(self, X, y=None):
        return self
    
    def process_condition(self, obj):
        if obj == 0:
            return 'no disease'
        if obj == 1:
            return 'disease'
    
    def fit(self, X, y=None):
        return self

    def transform(self, X, y=None):
        X.loc[:, 'condition'] = X['condition'].apply(self.process_condition)
        return X

In [58]:
class CategoricalTransformer(BaseEstimator, TransformerMixin):
    def process_sex(self, obj):
        if obj == 0:
            return 'female'
        if obj == 1:
            return 'male'
    
    def process_chest_pain_type(self, obj):
        if obj == 0:
            return 'typical_angina'
        if obj == 1:
            return 'atypical_angina'
        if obj == 2:
            return 'non_anginal_pain'
        if obj == 3:
            return 'asymptomatic'

    def process_rest_ecg(self, obj):
        if obj == 0:
            return 'normal'
        if obj == 1:
            return 'ST-T_wave_abnormality'
        if obj == 2:
            return 'left_ventricular_hypertrophy'
    
    def process_fasting_blood_sugar(self, obj):
        if obj == 0:
            return 'less_than_120mg/ml'
        if obj == 1:
            return 'greater_than_120mg/ml'
    
    def process_exercise_induced_angina(self, obj):
        if obj == 0:
            return 'no'
        if obj == 1:
            return 'yes'

    def process_st_slope(self, obj):
        if obj == 0:
            return 'upsloping'
        if obj == 1:
            return 'flat'
        if obj == 2:
            return 'downsloping'
    
    def process_thalassemia(self, obj):
        if obj == 0:
            return 'fixed_defect'
        if obj == 1:
            return 'normal'
        if obj == 2:
            return 'reversable_defect'
    
    def fit(self, X, y=None):
        return self
    
    def transform(self, X):
        for cat_feature in X.columns:
            exec(f"X.loc[:, '{cat_feature}'] = X['{cat_feature}'].apply(self.process_{cat_feature})")
        return pd.DataFrame(X, columns=X.columns)

In [59]:
class NumericalTransformer(BaseEstimator, TransformerMixin):
    #Class Constructor

    #Return self, nothing else to do here
    def fit(self, X, y=None):
        return self 
    
    #Custom transform method we wrote that creates aformentioned features and drops redundant ones 
    def transform(self, X, y=None):
        #Converting any infinity values in the dataset to Nan
        X = X.replace([np.inf, -np.inf], np.nan)
        return X

    def get_feature_names(self):
        return X.columns.tolist()

# 1. Preprocessing

In [60]:
data_path = os.path.join(os.path.dirname(os.getcwd()), "data/raw")
raw_data_filename = "heart_cleveland_upload.csv"

In [61]:
raw_data = pd.read_csv(os.path.join(data_path, raw_data_filename))
raw_data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,40,1,3,152,223,0,0,181,0,0.0,0,0,2,1
293,39,1,3,118,219,0,0,140,0,1.2,1,0,2,1
294,35,1,3,120,198,0,0,130,1,1.6,1,0,2,1
295,35,0,3,138,183,0,0,182,0,1.4,0,0,0,0
296,35,1,3,126,282,0,2,156,1,0.0,0,0,2,1

In [62]:
# df_transformer = DataframeTransformer()

In [63]:
def build_rename_raw_data_columns_pipeline() -> Pipeline:
    rename_raw_data_pipeline = Pipeline(
        steps=[
            ("data_renames", DataframeTransformer()),
        ]
    )
    return rename_raw_data_pipeline

In [64]:
def build_features_values_rename_pipeline(cat_features, num_features, target) -> Pipeline:

    categorical_pipeline = Pipeline(steps=[('cat_selector', FeatureSelector(cat_features)),
                                       ('cat_transformer', CategoricalTransformer()), 
                                    ])
       
    numerical_pipeline = Pipeline(steps=[('num_selector', FeatureSelector(num_features)),
                                     ('num_transformer', NumericalTransformer()),               
                                    ])
    
    target_pipeline = Pipeline(steps=[('target_selector', FeatureSelector(target)),
                                     ('target_transformer', TargetTransformer()),               
                                    ])

    
    full_pipeline = Pipeline([
       ('full_pipline', FeatureUnion([
           ('categorical_pipeline', categorical_pipeline),
           ('numerical_pipeline', numerical_pipeline),
           ('target_pipeline', target_pipeline),
       ]),
    )])

    return full_pipeline

In [65]:
def build_raw_data_pipeline(cat_features, num_features, target) -> Pipeline:
    raw_headers_pipeline = Pipeline(
        steps=[
            ("raw_data_columns_rename", build_rename_raw_data_columns_pipeline()),
            ("feature_rename", build_features_values_rename_pipeline(cat_features, num_features, target))
        ]
    )
    return raw_headers_pipeline

In [81]:
def process_raw_data(data, cat_features, num_features, target):
    raw_data_pipeline = build_raw_data_pipeline(cat_features, num_features, target)
    return pd.DataFrame(
        raw_data_pipeline.fit_transform(data), 
        columns=cat_features + num_features + target,
    )

In [82]:
TARGET = ["condition"]

In [83]:
data = process_raw_data(raw_data, CAT_FEATURES, NUMERICAL_FEATURES, TARGET)

In [84]:
data

,sex,chest_pain_type,fasting_blood_sugar,rest_ecg,exercise_induced_angina,st_slope,thalassemia,age,resting_blood_pressure,cholesterol,max_heart_rate_achieved,st_depression,num_major_vessels,condition
0,male,typical_angina,greater_than_120mg/ml,left_ventricular_hypertrophy,no,flat,fixed_defect,69.0,160.0,234.0,131.0,0.1,1.0,no disease
1,female,typical_angina,less_than_120mg/ml,normal,no,upsloping,fixed_defect,69.0,140.0,239.0,151.0,1.8,2.0,no disease
2,female,typical_angina,less_than_120mg/ml,normal,no,downsloping,fixed_defect,66.0,150.0,226.0,114.0,2.6,0.0,no disease
3,male,typical_angina,greater_than_120mg/ml,left_ventricular_hypertrophy,no,flat,fixed_defect,65.0,138.0,282.0,174.0,1.4,1.0,disease
4,male,typical_angina,less_than_120mg/ml,left_ventricular_hypertrophy,yes,flat,fixed_defect,64.0,110.0,211.0,144.0,1.8,0.0,no disease
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
292,male,asymptomatic,less_than_120mg/ml,normal,no,upsloping,reversable_defect,40.0,152.0,223.0,181.0,0.0,0.0,disease
293,male,asymptomatic,less_than_120mg/ml,normal,no,flat,reversable_defect,39.0,118.0,219.0,140.0,1.2,0.0,disease
294,male,asymptomatic,less_than_120mg/ml,normal,yes,flat,reversable_defect,35.0,120.0,198.0,130.0,1.6,0.0,disease
295,female,asymptomatic,less_than_120mg/ml,normal,no,upsloping,fixed_defect,35.0,138.0,183.0,182.0,1.4,0.0,no disease
296,male,asymptomatic,less_than_120mg/ml,left_ventricular_hypertrophy,yes,upsloping,reversable_defect,35.0,126.0,282.0,156.0,0.0,0.0,disease

In [26]:
data['condition']

NameError: name 'data' is not defined

In [ ]:
X, y = df_transformer.transform(raw_data)
X

In [ ]:
raw_data

In [27]:
X.nunique()

NameError: name 'X' is not defined

In [28]:
CAT_FEATURES = ["sex", "chest_pain_type", "fasting_blood_sugar", "rest_ecg", 
               "exercise_induced_angina", "st_slope", "thalassemia"]

NUMERICAL_FEATURES = ['age', 'resting_blood_pressure', 'cholesterol', 
            'max_heart_rate_achieved', 'st_depression', 'num_major_vessels']

In [29]:
CAT_FEATURES

['sex',
 'chest_pain_type',
 'fasting_blood_sugar',
 'rest_ecg',
 'exercise_induced_angina',
 'st_slope',
 'thalassemia']

In [30]:
NUMERICAL_FEATURES

['age',
 'resting_blood_pressure',
 'cholesterol',
 'max_heart_rate_achieved',
 'st_depression',
 'num_major_vessels']

In [ ]:
assert len(CAT_FEATURES) + len(NUMERICAL_FEATURES) == len(X.columns)

In [ ]:
categorical_pipeline = Pipeline(steps=[('cat_selector', FeatureSelector(CAT_FEATURES)),
                                       ('cat_transformer', CategoricalTransformer()), 
])
       
numerical_pipeline = Pipeline(steps=[('num_selector', FeatureSelector(NUMERICAL_FEATURES)),
                                     ('num_transformer', NumericalTransformer()),               
])

In [ ]:
categorical_pipeline.named_steps['cat_transformer'].get_feature_names()

In [ ]:
X[CAT_FEATURES]

In [ ]:
full_pipeline = FeatureUnion(transformer_list=[('categorical_pipeline', categorical_pipeline), 
                                               ('numerical_pipeline', numerical_pipeline)])

In [ ]:
full_pipeline_m = Pipeline(steps=[('full_pipeline', full_pipeline)])
full_pipeline_m.fit(X)
train_transformed_data = pd.DataFrame(full_pipeline_m.transform(X), columns=X.columns)
train_transformed_data

# 2. Baseline

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [ ]:
cv = StratifiedKFold(n_splits=10)

In [ ]:
X_train

In [ ]:
full_pipeline_m = Pipeline(steps=[('full_pipeline', full_pipeline),
                                  ('model', LogisticRegressionCV(penalty="l2", cv=cv, max_iter=10000, tol=0.01))])

full_pipeline_m.fit(X_train, y_train)
y_pred_train = full_pipeline_m.predict(X_train)
y_pred = full_pipeline_m.predict(X_test)

In [ ]:
y_pred_train = full_pipeline_m.predict(X_train)
plot_roc_curve(y_train, y_pred_train)
plot_confusion_matrix(y_train, y_pred_train)

In [ ]:
y_pred = full_pipeline_m.predict(X_test)
plot_roc_curve(y_test, y_pred)
plot_confusion_matrix(y_test, y_pred)

# 3. Bucket processing

In [ ]:
import boto3
session = boto3.session.Session()
s3_client = session.client(
    service_name = 's3',
    region_name='ru-msk',
    endpoint_url = 'https://hb.bizmrg.com',
    aws_access_key_id = '6CKG3ZF3Mxs91VfNrw3c9Z',
    aws_secret_access_key = '47vCFUUq3su1EhCeLzpXDDL2iBvtV6DudxJDcNsh9kKp'
)

In [ ]:
response = s3_client.list_buckets()

for key in response['Buckets']:
    print(key['Name'])

In [ ]:
import os
import sys
from io import StringIO

In [ ]:
bucket_name = 'ml_project'
object_key = 'dataset/heart_cleveland_upload.csv'

# csv_obj = s3_client.get_object(Bucket=bucket_name, Key=object_key)
# csv_string = csv_obj['Body'].read().decode('utf-8')
# df = pd.read_csv(StringIO(csv_string))

In [ ]:
with open('FILE_NAME.csv', 'wb') as f:
    s3_client.download_fileobj(bucket_name, object_key, f)

# 4. Cloud VM configuring

In [ ]:
# Виртуальная машина
# Имя
ml_project_vm

# Внутренний ip
10.0.1.8

# Внешний ip
5.188.141.0


# База данных
# Имя
PostgreSQL-3482

# Пользователь
ml_project_user

# Пароль
g51HN042rn6S6G{T

# Внешний ip
5.188.140.81
               
# Внутренний ip
10.0.0.10           

# При установке базы данных и сервера в облаке
# нужно убедиться, что машина может слушать порт 8000 (настройка ALL или выставить собственное правило для порта 8000)


# Установка зависимостей и демонов на виртуальной машине
chmod 400 ml-project-vm-Byv6dUqx.pem
ssh -i ml-project-vm-Byv6dUqx.pem ubuntu@5.188.141.0
sudo bash

curl -O https://repo.anaconda.com/archive/Anaconda3-2020.11-Linux-x86_64.sh
bash Anaconda3-2020.11-Linux-x86_64.sh
exec bash


conda create -n mlflow_env
conda activate mlflow_env
conda install python

pip install mlflow
pip install boto3

sudo apt install gcc
pip install psycopg2-binary





ssh -i REPLACE_WITH_YOUR_KEY ubuntu@REPLACE_WITH_YOUR_VM_IP


sudo vim /etc/environment

#Copy and paste this, replace with your values
MLFLOW_S3_ENDPOINT_URL=https://hb.bizmrg.com
MLFLOW_TRACKING_URI=http://10.0.0.8:8000
        


mkdir .aws
nano ~/.aws/credentials


[default]
aws_access_key_id = 6CKG3ZF3Mxs91VfNrw3c9Z
aws_secret_access_key = 47vCFUUq3su1EhCeLzpXDDL2iBvtV6DudxJDcNsh9kKp


conda activate mlflow_env
mlflow server --backend-store-uri postgresql://ml_project_user:g51HN042rn6S6G{T@10.0.0.10/PostgreSQL-3482 --default-artifact-root s3://ml_project/artifacts/ -h 0.0.0.0 -p 8000
# чтобы убить конкретный сервер
pkill -f gunicorn
# отобразит потоки в работе
fuser -k <port>/tcp
fuser -k 8000/tcp                                                                          
                                                                              
mkdir ~/mlflow_logs/
mkdir ~/mlflow_errors/


sudo vim /etc/systemd/system/mlflow-tracking.service

[Unit]
Description=MLflow Tracking Server
After=network.target
[Service]
Environment=MLFLOW_S3_ENDPOINT_URL=https://hb.bizmrg.com
Restart=on-failure
RestartSec=30
StandardOutput=file:/home/ubuntu/mlflow_logs/stdout.log
StandardError=file:/home/ubuntu/mlflow_errors/stderr.log
User=ubuntu
ExecStart=/bin/bash -c 'PATH=/home/ubuntu/anaconda3/envs/mlflow_env/bin/:$PATH exec mlflow server --backend-store-uri postgresql://ml_project_user:g51HN042rn6S6G{T@10.0.0.10/PostgreSQL-3482 --default-artifact-root s3://ml_project/artifacts/ -h 0.0.0.0 -p 8000'
[Install]
WantedBy=multi-user.target


sudo systemctl daemon-reload
sudo systemctl enable mlflow-tracking
sudo systemctl start mlflow-tracking
sudo systemctl status mlflow-tracking


head -n 95 ~/mlflow_logs/stdout.log

In [ ]:
import mlflow

In [ ]:
mlflow_uri = "postgresql://ml_project_user:g51HN042rn6S6G{T@5.188.140.81/PostgreSQL-3482"
mlflow_experiment = "ml_project"
mlflow_artifact_location = "s3://ml_project/artifacts"

In [ ]:
mlflow.set_tracking_uri(mlflow_uri)

In [ ]:
mlflow.create_experiment(mlflow_experiment,
                         artifact_location=mlflow_artifact_location)

In [ ]:
mlflow.set_tracking_uri(mlflow_uri)
mlflow.create_experiment(mlflow_experiment,
                         artifact_location=mlflow_artifact_location)
# mlflow.set_experiment(training_pipeline_params.mlflow_experiment)

with mlflow.start_run():
    print("works")